.nav {
    width: 100%;
    border-top: solid 1px #626262;
}
.nav-bar {
    margin: auto;
    width: 40%;
    height: 80px;
}
.nav-bar-item {
    padding-top: 10px;
    display: inline-block;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}
.nav-bar-item:hover {
    border-bottom: solid 1px #ff4918;
}
.hidden-div-test {
    position: absolute;
    z-index: 10;
    height: 100px;
    background: #fff;
    width: 100%;
}
